* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --game-w: 100vw;
    --game-h: 100vh;

    --character-w: 50px;
    --character-h: 50px;
    
    --obstacle-h:50px;
    --obstacle-w:50px;
}


#game {
    position:relative;
    padding: 10px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(54, 255, 188);
}

/*--------------------------------------------------*/

#gameInterface {

    position: absolute;
    padding: 10px;
    z-index: 2;
    width: 100%;
    height: 100%;
}

/*----------------------------*/
#home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logoHome {
    width: fit-content;
    height: fit-content;
    background-color: rgb(221, 177, 172);
    padding: 10px;
    margin: 100px;

}

#playBtn {
    width: fit-content;
    height: fit-content;
    background-color: rgb(221, 177, 172);
    padding: 10px;
}

#other {
    width: fit-content;
    background-color: rgb(221, 177, 172);
    padding: 10px;
}

/*----------------------------*/
#score {
    position: absolute;
    left: 0;
    width: fit-content;
    height: fit-content;
    background-color: rgb(221, 177, 172);
    padding: 10px;
}

/*----------------------------*/
#optionsBtn {
    position: absolute;
    right: 0;
    width: fit-content;
    height: fit-content;
    background-color: rgb(221, 177, 172);
    padding: 10px;
}

#exitBtn {

    width: 100%;
    height: 100%;
    background-color: rgb(155, 110, 106);
    padding: 10px;
    margin: 2.5px 0;
}

#homeBtn {

    width: 100%;
    height: 100%;
    background-color: rgb(155, 110, 106);
    padding: 10px;
    margin: 2.5px 0;

}

#volumBtn {

    width: 100%;
    height: 100%;
    background-color: rgb(155, 110, 106);
    padding: 10px;
    margin: 2.5px 0;

}

/*----------------------------*/

/*--------------------------------------------------*/

#gameElement {
    position: absolute;
    background-color: black;
    width: var(--game-w);
    height: calc(var(--game-h)* 0.3);
    bottom: 50px;
    z-index: 1;
}



.animJump{
    animation: jump 1s linear;
}

@keyframes jump{
    0%{bottom: 0;}
    50%{bottom: calc(var(--obstacle-h) * 5) ;}
    100%{bottom: 0;}
}

#character {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: var(--character-w);
    height:var(--character-h);    
    bottom:0%;
    left: 0px;
    z-index: 1;
}



#map {
    position:relative;
    background-color: rgb(130, 14, 14);
    width: var( --game-w );
    height:calc(var(--game-h) * 0.3);
    overflow-x: hidden;
}




.obstacle {
    background-color: rgb(198, 125, 125);
    width: var(--obstacle-w);
    height: var(--obstacle-h);
}
@keyframes obstacleAnimate {
    from { left: 100vw; }
    to   { left: -100vw; }
}
.obstacleBig {
    display: flex;
    flex-direction:column ;
    animation: obstacleAnimate 3s linear  normal ;
    position: absolute;
    background-color: rgb(0, 47, 255);
    bottom:0px;
    left:10vw;
}








